pymysql==1.0.3
dbutils==3.0.3
openai==0.27.8
tenacity==8.2.2
pymilvus==2.2.9
fastapi==0.96.0
uvicorn==0.22.0
redis==4.5.5
tencentcloud-sdk-python==3.0.911
pydantic==1.10.9
starlette==0.27.0
python-jose==3.3.0
aes-everywhere==1.2.10